.shape-divider-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.shape-divider-bottom svg,
.shape-divider-top svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 75px;
}
.shape-divider-bottom .shape-fill {
    fill: #FFFFFF;
}

.shape-divider-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.shape-divider-top .shape-fill {
    fill: var(--color-light);
}

/** For mobile devices **/
@media (max-width: 767px) {
    .shape-divider-top svg {
        width: calc(100% + 1.3px);
        height: 115px;
    }
}


@media screen and (min-width: 1216px) {
    
}
@media screen and (min-width: 1408px) {
    .shape-divider-bottom svg {
        height: 275px;
    }
}