/* CSS variables */
:root {
    /* Colors */
    --color-light: rgb(245, 245, 245);
    --color-dark: rgb(1, 1, 16);
    --color-green: rgb(171, 225, 136);
    --color-yellow: rgb(247, 239, 153);
    --color-apricot: #f1bb87;
    --color-dark-salmon: #F78E69;
    --color-ebony: rgb(93, 103, 91);
    --color-blue: #3a6ea5;
    /* Menu link dimensions */
    --menu-item-width: 120px;
    --menu-item-height: 50px;
}
/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* General styling */
a {
    text-decoration: none;
    color: black;
}