/* CSS variables */
:root {
    /* Colors */
    --color-light: rgb(245, 245, 245);
    --color-dark: rgb(1, 1, 16);
    --color-green: #ABE188;
    --color-yellow: rgb(247, 239, 153);
    --color-apricot: rgb(241, 187, 135);
    --color-dark-salmon: #F78E69;
    --color-ebony: rgb(93, 103, 91);
    --color-blue: rgb(58, 110, 165);
    /* Menu link dimensions */
    --menu-item-width: 120px;
    --menu-item-height: 50px;
}
/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* General styling */
a {
    text-decoration: none;
    color: black;
}