.input-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .form-input {
        width: 50%;
        padding: 8px 5px;
        margin-bottom: 10px;
        font-size: 12px;
        background: linear-gradient(#1f2124, #27292c);
        border: 1px solid #000;
        box-shadow: 0 1px 0 rgba($color: #000, $alpha: .1);
        border-radius: 3px;
        // font-family: ;
        color: #fff;
        
        &:hover {
            background: #27292c;
        }

        &:focus {
            box-shadow: inset 0 0 2px #000;
            background: #494d54;
            border-color: #51cbee;
            outline: none;
        }
        
        &-label {
            width: 50%;
            // padding-top: 3px;
            margin-bottom: 10px;
            color: #ddd;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 1px;
            // text-shadow: 0 1px 0 #000;
            text-indent: 10px;
            font-weight: 700;
            cursor: pointer;

            &:hover ~ .form-input {
                background: #27292c;
            }
        }
    }
}