// Sass variables
// 
body {
    box-sizing: border-box;
}
.frontpage-categories {
    background-color: silver;
}

$color: black;
$color2: red;
$size: 100px;
$borderWidth: 4px;
$totalTime: .5s;

div.logo {
    width: $size;
    height: 50px;
    box-sizing: border-box;
    position: relative;
    background-color: transparent;
    margin: 1rem;

    &::before,
    &::after {
        z-index: 1;
        box-sizing: border-box;
        content: '';
        position: absolute;
        border: $borderWidth solid transparent;
        width: 0;
        height: 0;
        animation-timing-function: ease-in-out;
        // box-shadow: 5px 5px 5px silver;
    }

    &::before {
        top: 0;
        left: 0;
        animation: border-before $totalTime infinite;
        animation-direction: alternate;
        // box-shadow: 5px -5px 5px silver;
    }

    &::after {
        bottom: 0;
        right: 0;
        animation: border-after $totalTime infinite;
        animation-direction: alternate;
        // box-shadow: -5px 5px 5px silver;
    }

    
}
@keyframes border-before {
  0% {
    width: 0;
    height: 0;
    border-top-color: $color;
    border-right-color: transparent;
    box-shadow: none;
  }
  24.99% {
    border-right-color: transparent;
  }
  25% {
    height: 0;
    width: 100%;
    border-top-color: $color;
    border-right-color: $color;
  }
  50%,
  100% {
    width: 100%;
    height: 100%;
    border-top-color: $color;
    border-right-color: $color;
    box-shadow: 5px -5px 5px gray;
  }
}

@keyframes border-after {
  0%,
  49.99% {
    width: 0;
    height: 0;
    border-left-color: transparent;
    border-bottom-color: transparent;
    box-shadow: none;
  }
  50% {
    width: 0;
    height: 0;
    border-left-color: transparent;
    border-bottom-color: $color2;
  }
  74.99% {
    border-left-color: transparent;
    border-bottom-color: $color2;
  }
  75% {
    height: 0;
    width: 100%;
    border-left-color: $color2;
    border-bottom-color: $color2;
    box-shadow: -5px 5px 5px gray;
  }
  100% {
    width: 100%;
    height: 100%;
    border-left-color: $color2;
    border-bottom-color: $color2;
    box-shadow: -5px 5px 5px gray;
  }
}